# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/crypto-nexus-app/node_modules
/express-backend/node_modules

/.pnp
.pnp.js

# testing
/coverage

# next.js
/crypto-nexus-app/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/crypto-nexus-app/.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

