.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1E1E1E;
}

.register-container {
  background-color: #4D4D4D;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 25px #F4C542;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #dddddd;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #26A17B;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus {
  border-color: #F4C542;
  outline: none;
  box-shadow: 0 0 5px #F4C542;
}

.password-container {
  display: flex;
  align-items: center;
}

#toggle-password {
  width: 50px;
  margin-left: 10px;
  background-color: #c7c7c7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

#toggle-password:hover {
  background-color: #d4d4d4;
}

.btn-eye {
  height: 25px;
  width: auto;
}

.error-message {
  color: rgb(255, 80, 80);
  font-size: 12px;
  margin-top: 5px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 48%;
  font-weight: bold;
}

#login-button {
  background-color: #F4C542;
  color: #4D4D4D;
}

#login-button:hover {
  background-color: #eeb006;
}

#register-button {
  background-color: #26A17B;
  color: #4D4D4D;
}

#register-button:hover {
  background-color: #218838;
}

/* Responsive */
@media (max-width: 768px) {
  .register-container {
    padding: 20px;
    max-width: 90%;
  }
}
