.publicaciones-container {
  display: flex;
  gap: 30px;
  padding: 20px;
}

/* FORMULARIO */
.form-box {
  width: 60%;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
}

.form-publicacion input,
.form-publicacion textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #2c2c2c;
  color: white;
}

.qr-upload {
  width: 100%;
  padding: 20px;
  background: #fff;
  border: 2px dashed #aaa;
  text-align: center;
  margin-bottom: 20px;
}

.btn-publicar {
  width: 100%;
  background: #f4c542;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* LISTA DERECHA */
.lista-publicaciones-box {
  background: #1e1e1e;
  width: 40%;
  padding: 20px;
  border-radius: 12px;
}

.lista-publicaciones table {
  width: 100%;
  border-collapse: collapse;
}

.lista-publicaciones th,
.lista-publicaciones td {
  font-size: 12px;
  min-width: 100px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.btn-eliminar {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
