/* === Fondo general oscuro === */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1E1E1E !important;
  background-image: none !important; /* fuerza eliminar cualquier fondo anterior */
  color: white;
  font-family: Arial, sans-serif;
}

/* === Centrado del contenedor principal === */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* ocupa toda la altura visible */
  background-color: #1E1E1E; /* asegura color uniforme */
}

/* === Caja del formulario === */
.register-form-box {
  background-color: #4D4D4D;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 25px #F4C542;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-buttons button {
  padding: 10px 15px;
  background-color: #26A17B;
  color: #1E1E1E;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  
}

.header-buttons button:hover {
  background-color: #218838;
}

.progress-bar {
  height: 10px;
  background-color: #20c490;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar div {
  height: 100%;
  background-color: #F4C542;
  width: 33%;
  transition: width 0.3s ease;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #26A17B;
  border-radius: 10px;
  font-size: 1rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  padding: 10px 15px;
  background-color: #F4C542;
  color: #1E1E1E;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.form-buttons button:hover {
  background-color: #eeb006;
}

.btn-customer-service {
        height: 30px; /* Ajusta el tamaño boton bright */
        width: auto; /* Mantén la proporción del logotipo */
        }

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }
  .form-buttons {
    flex-direction: column;
    align-items: center;
  }
  .form-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}
